/* identify selectors using dev tools */

.ql-toolbar.ql-snow {
  border-width: 0px 0px 1px 0px !important;
  border-color: var(--color-muted-foreground) !important;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-card);
}

.ql-container.ql-snow {
  border: none !important;
}

div.quill {
  position: relative;
  z-index: 0;
}

.ql-container.ql-snow {
  border: none !important;
  min-height: 400px !important;
  z-index: -2;
}

div.ql-editor.ql-blank {
  position: relative;
  z-index: 0;
}

span.ql-picker-item::before {
  position: relative;
  z-index: 2;
}

ol > li {
  list-style: decimal;
}

#editor-resizer > div.toolbar {
  border-width: 0px 0px 1px 0px !important;
  border-color: var(--color-muted-foreground) !important;
  position: absolute;
  top: 0;
  width: max-content;
  background-color: var(--color-card);
}
